<div class="game-section">
    <div class="header">
        <span>Hi {{actualPlayer.name}}</span>
        <mat-icon routerLink="NAVIGATION_PATH.HOME">exit_to_app</mat-icon>
    </div>
    <div class="body">
        <span>High Score: {{actualPlayer.maxScore}}</span>
        <mat-icon>traffic</mat-icon>
        <span>Score: {{actualPlayer.score}}</span>
        <div>
            <button (click)="step(false)">
                Left
            </button>
            <button (click)="step(true)">
                Right
            </button>
        </div>        
    </div>
</div>

