<div class="game-section">
    <div class="header">
        <span>Hi {{userName}}</span>
        <mat-icon onClick="logout()">exit_to_app</mat-icon>
    </div>
    <div class="body">
        <span>High Score: {{maxScore}}</span>
        <mat-icon> traffic</mat-icon>
        <span>Score: {{score}}</span>
        <div>
            <button onClick="left()">
                Left
            </button>
            <button onClick="right()">
                Right
            </button>
        </div>        
    </div>
</div>

